*{
  padding: 0;
  margin: 0;
  /*outline: 1px solid black;*/
}

body {
  width: 100vw;
  height: 170.25rem;
  background-image: url("imagenes/fondo-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.headder {
  width: 100vw;
  height: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 25.5rem;
  height: 75%;
  background-image: url("imagenes/logo.png");
  background-repeat: no-repeat;
}

.indice {
  width: 85vw;
  height: 22.5%;
  gap: 3rem;
  display: flex;
  flex-direction: row;
  align-items:center;
  text-align: center;
}

.box {
  transition: box-shadow .3s;
  width: 33%;
  height: 1.8rem;
  background-color: rgb(47, 212, 6);
  border: 2px solid rgb(2, 47, 2);
  color: rgb(0, 6, 0);
  border-radius: 18%;
  text-align: center;
  font-size: larger;
  padding-top: 0.0%;
}

.box:hover {
  background-color: rgb(65, 202, 97);
  box-shadow: 4px 4px 4px 4px rgba(142, 250, 54, 0.797);
}

.section {
  width: 100vw;
  height: 75%;
}

.container1 {
  width: 100vw;
  height: 25%;
  display: flex;
  flex-direction: row;
}

.texto1 {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  width: 45vw;
  height: 15%;
  padding: 1%;
  color: rgb(21, 96, 20);
  font-size: 3rem;
}

p {
  width: 45vw;
  height: 350px;
  padding: 1%;
  color: rgb(21, 96, 20);
  font-size: 1.8rem;
}

.img1 {
  width: 49vw;
  height: 100%;
  background-image: url(imagenes/equipotrabajo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1.5s ease-in-out;
}

.img1:hover {
  background-image: url(imagenes/equipotrabajo3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img2 {
  width: 50vw;
  height: 100%;
  background-image: url(imagenes/productos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1.5s ease-in-out;
}

.img2:hover {
  background-image: url(imagenes/parsley-4688651__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.texto2 {
  width: 49vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.p2 {
  width: 42vw;
  height: 350px;
  padding: 1%;
  margin: 6.25%;
  font-size: 1.5rem;
  align-items: center;
}

.texto3 {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.img3 {
  width: 49vw;
  height: 100%;
  background-image: url(imagenes/camiones1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1.5s ease-in-out;
}

.img3:hover {
  background-image: url(imagenes/bodega.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img4 {
  width: 50vw;
  height: 100%;
  background-image: url(imagenes/siembra2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1.5s ease-in-out;
}

.img4:hover {
  background-image: url(imagenes/cosecha.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.texto4 {
  width: 49vw;
  height: 100%;
  align-items: center;
  text-align: center;
}

.texto__box4 {
  width: 47vw;
  height: 95%;
  display: flex;
  flex-direction: column;
}

.h2_4 {
  width: 47vw;
  height: 10%;
  color: rgb(21, 96, 20);
}

.p4 {
  width: 42vw;
  height: 50px;
  padding: 1%;
  margin: 6.25%;
  color: rgb(21, 96, 20);
  font-size: 1.5rem;
  align-items: center;
}

.form {
  width: 25vw;
  height: 22rem;
  margin-left: 23%;
  border: 2px solid rgb(19, 79, 19);
  background-color: rgb(18, 197, 18);
  border-radius: 10%;
  box-shadow: 4px 4px 4px 10px rgba(89, 150, 42, 0.797);
}

.footer {
  width: 100vw;
  height: 17%;
}

.container__footer {
  width: 99%;
  height: 40%;
  display: flex;
  flex-direction: row-reverse;
}

.img__footer {
  width: 40%;
  height: 100%;
  background-image:  url("imagenes/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.box__footer {
  width: 60%;
  height: 100%;
  margin-top: 11%;
  text-align:right;
  font-size: 1.5rem; 
}

@media (max-width: 700px) {
  
  .headder {
    width: 100vw;
    height: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 25.5rem;
    height: 75%;
    background-image: url("imagenes/logo.png");
    background-repeat: no-repeat;
  }
  
  .indice {
    width: 85vw;
    height: 60.5%;
    gap: rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
  }

  .box {
    transition: box-shadow .3s;
    width: 50%;
    height: 1.8rem;
    text-align: center;
    font-size: larger;
    padding-top: 0.0%;
  }

  .section {
    width: 100vw;
    height: 85%;
  }

  .footer {
    width: 100vw;
    height: 3%;
  }

  .img__footer {
    width: 0%;
    height: 0%;
  }

}