*{
  padding: 0;
  margin: 0;
  outline: 1px solid black;
}

body {
  width: 100vw;
  height: 170.25rem;
  color: black;
  /*background-color: green;*/
}

.headder {
  width: 100vw;
  height: 8%;
  border-color: blue;
  /*padding: 1.5%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 25.5rem;
  height: 75%;
  background-image: url("imagenes/logo.png");
  background-repeat: no-repeat;
}

.indice {
  width: 85vw;
  height: 22.5;
  gap: 3rem;
  display: flex;
  flex-direction: row;
  align-items:center;
  
}

.box {
  transition: box-shadow .3s;
  width: 33%;
  height: 3rem;
  background-color: rgb(225, 153, 36);
  border-radius: 20%;
  text-align: center ;
}

.box:hover {
  background-color: blue;
  box-shadow: 8px 8px 8px 8px rgba(4, 246, 44, 0.797);
}

.section {
  width: 100vw;
  height: 75%;
  background-color: yellow;
}

.container1 {
  width: 100vw;
  height: 25%;
  display: flex;
  flex-direction: row;
}

.texto1 {
  width: 50vw;
  height: 100%;
  background-color: blue;
}

.img1 {
  width: 50vw;
  height: 100%;
  background-image: url(imagenes/equipo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img2 {
  width: 50vw;
  height: 100%;
  background-image: url(imagenes/productos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.texto2 {
  width: 50vw;
  height: 100%;
  background-color: blue;
}

.texto3 {
  width: 50vw;
  height: 100%;
  background-color: blue;
}

.img3 {
  width: 50vw;
  height: 100%;
  background-image: url(imagenes/camiones1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img4 {
  width: 50vw;
  height: 100%;
  background-image: url(imagenes/siembra2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.texto4 {
  width: 50vw;
  height: 100%;
  background-color: blue;
  align-items: center;
  text-align: center;
  
}

.texto__box4 {
  width: 47vw;
  height: 95%;
  background-color: brown;
}

.form {
  width: 25vw;
  height: 13rem;
  
  background-color: blueviolet;
  border-radius: 10%;
}

.footer {
  width: 100vw;
  height: 12%;
  background-color: cadetblue;
}